    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Faizan Ali</h2>
              <br/>
		<p> I'm Faizan Ali,have been working at Digitera for the last two years as developer on different web technologies,such as PHP,Python  
		laravel,Hybrid App Development,Ruby on Rails and etc.Presently we have developed a product which does some scientific computing and a little prediction as well using linear
			Regression of the risk based on previous inspection of the components in an oil ans gas industry.So we developed that  PHP using
			Laravel frame work which is similar ans heavily inspired from Ruby on Rails other than that we have used some Python for prediction stuff as well.
			As far as, Ruby on Rails is considered i have experties in that ,that's the first MVC frame work i learned back in 2014.I have also got some certification from John
			Hopkins University in ROR development you can find them on my Resume .
			Other than that i have also done specialization from Hongkong Universityof science and technology in full stack web development.So,if there is anything required related
			to Nodejs and Hybrid mobile application development.I can do that as well.
			I have some certificates from Big Data Specialization offered by University of California Sandiego.so,if there is something related to Hadoop is required i can help in that as well.but that is in my elementary skills and have done some work in that field for educational purpose.I have also got some certification in BigData from
			IBM Big Data University. </p>
			<p>The good thing about me is i keep the learning new things,acquire new skills and use them whenever needed in future.So,i can say if you give me a task related to some new technology
			or language, I can do that as well, all you have to do is to give me few weeks and i will be ready to work on that.
				That's all about me.Thankyou</p>
			
			
			
              </div>
        </div>
    </section>
